<a href="https://colab.research.google.com/github/bgurusamy2/EDA/blob/dev/Airbnd_Analysis/Airbnb%20Bookings%20Analysis%20-%20Capstone%20Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Since 2008, guests and hosts have used Airbnb to expand on traveling possibilities and present a more unique, personalized way of experiencing the world. Today, Airbnb became one of a kind service that is used and recognized by the whole world. Data analysis on millions of listings provided through Airbnb is a crucial factor for the company. These millions of listings generate a lot of data - data that can be analyzed and used for security, business decisions, understanding of customers' and providers' (hosts) behavior and performance on the platform, guiding marketing initiatives, implementation of innovative additional services and much more. </b>

## <b>This dataset has around 49,000 observations in it with 16 columns and it is a mix between categorical and numeric values. </b>

## <b> Explore and analyze the data to discover key understandings (not limited to these) such as : 
* What can we learn about different hosts and areas?
* What can we learn from predictions? (ex: locations, prices, reviews, etc)
* Which hosts are the busiest and why?
* Is there any noticeable difference of traffic among different areas and what could be the reason for it? </b>

In [5]:
from os import rename
!wget 'https://github.com/bgurusamy2/EDA/blob/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv?raw=true' -O 'Airbnb NYC 2019.csv'

--2022-01-29 14:00:57--  https://github.com/bgurusamy2/EDA/blob/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv?raw=true
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/bgurusamy2/EDA/raw/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv [following]
--2022-01-29 14:00:57--  https://github.com/bgurusamy2/EDA/raw/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/bgurusamy2/EDA/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv [following]
--2022-01-29 14:00:58--  https://raw.githubusercontent.com/bgurusamy2/EDA/dev/Airbnd_Analysis/Airbnb%20NYC%202019.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7077971 (6.8M) [text/plain]
Saving to: ‘Airbnb NYC 2019.csv’

Airbnb NYC 2019.csv 100%[===================>]   6.75M  --.-KB/s    in 0.04s

2022-01-29 14:00:58 (182 MB/s) - ‘Airbnb NYC 2019.csv’ saved [7077971/7077971]

In [6]:
import pandas as pd

In [7]:
pd.read_csv('Airbnb NYC 2019.csv')

             id  ... availability_365
0          2539  ...              365
1          2595  ...              355
2          3647  ...              365
3          3831  ...              194
4          5022  ...                0
...         ...  ...              ...
48890  36484665  ...                9
48891  36485057  ...               36
48892  36485431  ...               27
48893  36485609  ...                2
48894  36487245  ...               23

[48895 rows x 16 columns]